{% load bootstrap5 %}
<div class="card mt-5 text-bg-dark border-secondary" style="max-width:45rem">
  <div class="card-header">
    <p class="mt-2">
      <img src="{{post.user.profile_image.url}}" alt="" class="rounded-circle" width="50px">
      <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none m-3 fs-5" style="font-family: 'Phudu', cursive;">{{post.user}}</a>
      
      {% if request.user.is_authenticated %}
      {% if request.user == post.user %}
      <input type="button" class="btnDelete btn btn-outline-danger btn-sm mt-2" style="float:right" value="delete" onclick="deletePost({{post.id}})">
      <script>
      function deletePost(id) {
        location.href = `/posts/${id}/delete/`
      }
      </script>
      {% endif %}
      {% endif %}
    </p>
  </div>
  <img src="{{post.image.url}}" alt="...">
  <div class="card-body" style="font-family: 'Abel', sans-serif;">
    <!-- <h5 class="card-title">{{post.title}}</h5> -->
    {% if user in post.like_users.all %}
      <i class="bi bi-heart-fill heart font-monospace" style="color: red" data-post-id="{{post.id}}">{{post.like_users.all|length}}</i> 
    {% else %}
      <i class="bi bi-heart heart" data-post-id="{{post.id}}">{{post.like_users.all|length}}</i>
    {% endif %}
    명이 좋아합니다.

    <p class="card-text">{{post.content}}</p>
    <p class="card-text">{{post.created_at|timesince}}</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer">

    {% if user.is_authenticated %}
      <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="submit">
      </form>
      <hr>
    {% endif %}

    {% for comment in post.comment_set.all %}
      <li>{{comment.user}} : {{comment.content}}
        {% if request.user == comment.user %}
        <a class="text-decoration-none m-3" style="color:red; float:center --bs-btn-padding-y: .5rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .70rem"
        href="{% url 'posts:comment_delete' post_id=post.id id=comment.id %}">X</a>
        {% endif %}
      </li>
    {% endfor %}
  </div>
</div>