{% load bootstrap5 %}
<div class="card mt-5">
  <div class="card-header">
    <p>
      <img src="{{post.user.profile_image.url}}" alt="" class="rounded-circle" width="50px">
      <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">{{post.user}}</a>
    </p>
  </div>
  <img src="{{post.image.url}}" alt="...">
  <div class="card-body">
    <!-- <h5 class="card-title">{{post.title}}</h5> -->
    <p class="card-text">{{post.content}}</p>
    <p class="card-text">{{post.created_at|timesince}}</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer">
    <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit">
    </form>
    <hr>
    {% for comment in post.comment_set.all %}
      <li>{{comment.user}} : {{comment.content}}</li>
    {% endfor %}
  </div>
</div>